
@using BoostHolding.Entities.Data
@using BoostHolding.Web.Services
@model IEnumerable<AdvancePayment>
@inject UserSignedIn User

@{
    ViewData["Title"] = "Advance Payment Request : " + User.GetFullName();
}

<h2 class="mb-3" style="color: tomato ">Advance List</h2>


<table class="table d-xxl-table-row table-hover text-dark text-center h5 " border="3">
    <thead>
        <tr>

            <th>
                Request Date
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Unit
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Cancellation Status
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.RequestDate.ToShortDateString()
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Unit
                </td>
                @*<td>
                        @item.Unit
                    </td>

                    <td>
                        Approval Status
                    </td>
                    <td colspan="2">
                        Cancellation Status
                    </td>*@
                @if (item.Status == Status.Pending)
                {
                    <td class="table-primary">
                        @item.Status
                    </td>
                }
                @if (item.Status == Status.Accepted)
                {
                    <td class="table-success">
                        @item.Status
                    </td>
                }
                @if (item.Status == Status.Rejected)
                {
                    <td class="table-danger">
                        @item.Status
                    </td>
                }
                <td>
                    @if (item.Status == Status.Pending)
                    {
                        <a class="btn btn-danger" asp-area="Yonetim" asp-controller="AdvancePayment" asp-action="Delete" asp-route-id="@item.Id">Cancel Request</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@*sldkfşskldmfsd*@



